@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #292944;
}

.button:hover {
  -webkit-box-shadow: 0px 20px 50px -15px rgba(250, 97, 80, 0.88);
  -moz-box-shadow: 0px 20px 50px -15px rgba(250, 97, 80, 0.88);
  box-shadow: 0px 20px 50px -15px rgba(250, 97, 80, 0.88);
}
